# Leave these empty to read EbookCityAzureSql from ../github_remote_check/Web.config.
DB_DSN="tsdb.database.windows.net"
DB_USER="dbadmin"
DB_PASS="Ts@13126621"
APP_ASSET_BASE=""
ASP_WEB_CONFIG="../github_remote_check/Web.config"
